* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Muller", sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

header {
  position: relative;
  z-index: 99;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto !important;
  margin-left: auto !important;
}


@media (min-width: 544px) {
  .container {
      max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1440px;
  }
}

.header-top {
  border-bottom: 1px solid #F5F5F5;
  border-radius: 10px;
  padding: 8px 40px;
}

.warp_soc_heder a img {
  width: 20px;
  height: 20px;
}

.warp_soc_heder {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mr-50 {
  margin-right: 50px;
}

a {
  color: #000 !important;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: all 0.3s;
}

a:hover {
  color: #E66950 !important;
}

p {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

.logo {
  margin: 0 auto;
  width: 250px;
  line-height: 18px;
}

.newHeaderLink img {
  max-width: 70px;
}

.header__logo.logo {
  transition: all .1s linear;
}

.newHeaderLink .logo-text {
  padding: 0px 0 0px 8px;
}

.font-light {
  font-weight: 300;
}

.logo-text .logo-big-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.whatsapp svg {
  margin-right: 10px;
}

svg:not(:root) {
  overflow: hidden;
}

.with-text-decoration {
  text-decoration: underline;
}

.header__phones {
  font-size: 14px;
  font-weight: 500;
  padding-left: 0;
}

.mr-40 {
  margin-right: 40px;
}

.header__menu-col2 {
  padding-right: 32px;
}

.bottomNewHeaderBlock {
  padding: 8px 40px;
}

.bottomNewHeaderBlock .main-menu {
  border: none;
}

.main-menu {
  margin: 0 0;
  border: 1px solid;
  border-color: rgba(101, 101, 101, 0.25);
  border-radius: 10px;
}

.main-menu__list_flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  flex: 1 1 auto;
  font-weight: bold;
}

.bottomNewHeaderBlock .main-menu .nav-fill .nav-item {
  height: auto;
  padding: 0 1rem 0 0;
}

.main-menu .nav-fill .nav-item {
  height: 78px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 18px;
  text-align: left !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem 1.5rem 0;
}

.bottomNewHeaderBlock .main-menu .nav-link {
  border: none;
  padding: 0;
}

.main-menu .nav-link {
  display: block;
  padding: 0 0 0 28px;
  border-left: 1px solid #E1EAEA;
}

.main-menu a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav-link--left {
  border: none !important;
}

.main-menu .nav-link .ssm, .main-menu .nav-link .portfolio, .main-menu .nav-link .seo {
  position: relative;
}

.color-orange {
  color: #F27255 !important;
}

.main-menu .nav-link .seo span {
  right: -27px;
  top: -2px;
}

.main-menu .nav-link .portfolio svg {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #E66950;
  position: absolute;
  right: -20px;
  top: -8px;
}

.main-menu .nav-link .ssm span, .main-menu .nav-link .seo span {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #E66950;
  position: absolute;
  right: -27px;
  top: -2px;
}

.index-section-1 {
  margin-top: 16px;
  height: 650px;
}

.index-section-1 .img-div {
  margin-top: -100px;
}

.index-section-1 .img-div {
  padding-top: 12px;
  padding-left: 10px;
}

.div-img-with-bg img:first-child {
  position: absolute;
  z-index: 1;
}
.index-section-1 .bg-img {
  left: 0;
  top: -166px;
  width: 140%;
}

.div-img-with-bg img.handImg.scrollTopImgElement {
  transform: translate(0px, -65px);
  transition: all 0.2s;
  object-fit: cover;
  width: 950px;
  height: 600px;
  object-position: 0px 0px;
}

.index-section-1 .main-img {
  max-width: 950px;
}

.div-img-with-bg img:last-child {
  left: 0px;
  transform: translateY(-45px);
}
.div-img-with-bg img:last-child {
  position: absolute;
  z-index: 2;
}

.topNew88 {
  top: -88px;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.mobTopImgBlock {
  display: none;
  position: absolute;
  top: -70px;
  right: 97px;
  max-width: 550px;
  width: 100%;
}

.on1200 {
  display: none;
}

.blue-button, .blue-button-link {
  background: #0080FF;
  border-radius: 6px;
  font-size: 15px;
  color: white !important;
  font-weight: 400;
  -webkit-box-shadow: 0px 8px 14px rgba(0, 128, 255, 0.35);
  -moz-box-shadow: 0px 8px 14px rgba(0, 128, 255, 0.35);
  box-shadow: 0px 8px 14px rgba(0, 128, 255, 0.35);
  max-width: 280px;
  width: 100%;
  height: 60px;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.blue-button:hover, .blue-button-link:hover {
  color: #fff !important;
  background-color: #0C6ED1;
  -webkit-box-shadow: 0px 8px 14px rgba(35, 68, 101, 0.3);
  -moz-box-shadow: 0px 8px 14px rgba(35, 68, 101, 0.3);
  box-shadow: 0px 8px 14px rgba(35, 68, 101, 0.3);
}

.orange-button, .orange-button-link {
  background: #E66950;
  border-radius: 6px;
  font-size: 15px;
  color: white !important;
  font-weight: 400;
  -webkit-box-shadow: 4px 4px 12px rgba(238, 115, 90, 0.4);
  -moz-box-shadow: 4px 4px 12px rgba(238, 115, 90, 0.4);
  box-shadow: 4px 4px 12px rgba(238, 115, 90, 0.4);
  max-width: 280px;
  width: 100%;
  height: 60px;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.orange-button:hover, .orange-button-link:hover {
  color: #ffffff;
  background-color: #EC5A3D;
}

.index-section-1 .text-block {
  position: relative;
  max-width: 557px;
  margin: 110px 20px;
}

.index-section-1 .text-block {
  margin: 50px auto;
}

.z-index-3 {
  z-index: 3;
}

.index-section-1 .title_font_huge {
  font-size: 60px;
  line-height: 60px;
  text-shadow: 0 0 8px white;
  font-weight: 700;
}

.f-32 {
  font-size: 32px;
}

.f-32 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.color-white {
  color: #ffffff !important;
}

.index-section-1 .only-border {
  width: 50px;
  height: 67px;
}

.text-shadow {
  text-shadow: 2px 1px 8px white;
}

.f-24 {
  font-size: 24px;
}

section.topTarifSect {
  margin-top: -278px;
  z-index: 2;
  position: relative;
}

.topTarifSect:before {
  content: "";
  position: absolute;
  width: 500%;
  height: calc(194% + 161px);
  top: 280px;
  left: -200%;
  z-index: -1;
  background-color: #F5F5F5;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-3.2deg);
}

.vkrPriceBlock {
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 25%);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform: translate(0);
}

.vkrPriceBlockHead {
  padding: 20px 25px;
  background: #F5F5F5;
}

.colTarifNew {
  font-size: 12px;
  line-height: 21px;
  font-weight: 500;
}

.vkrPriceBlockHeadDescr {
  font-size: 18px;
  line-height: 27px;
  font-size: 16px;
  line-height: 24px;
}

.hoverTooltip>svg {
  cursor: pointer;
}

.tooltipBlock {
  position: absolute;
  min-width: 180px;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #D5D9DE;
  top: -15px;
  left: 35px;
  filter: drop-shadow(0px 0px 3px #D5D9DE);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  z-index: 7;
}

.tooltipBlock:before {
  content: '';
  position: absolute;
  left: -7px;
  top: 16px;
  width: 13px;
  height: 13px;
  background: #ffffff;
  transform: rotate(45deg);
  border-left: 1px solid #D5D9DE;
  border-bottom: 1px solid #D5D9DE;
}

.tooltipBlock .row>div:not(:last-child)>.listItemOrange {
  margin-bottom: 5px;
}

section.topTarifSect .col-12 {
  max-width: 420px !important;
}

.listItemOrange {
  font-size: 11px;
  line-height: 16px;
  color: #8A8886;
  font-weight: 400;
  padding-left: 6px;
  padding-right: 7px;
  position: relative;
}

.tabletTarifWrap {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  min-height: 60px;
}

.tabletTarifItem:not(:last-child) {
  margin-right: 6px;
}

.tabletTarifItem {
  background: #FFFFFF;
  border-radius: 100px;
  font-size: 12px;
  line-height: 1;
  padding: 7px 8px 5px 8px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.vkrPriceBlockContent {
  padding: 20px 25px 0 30px;
}

.tarifIntroText {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;
}

.mobileButtonOpenTarif {
  margin-top: 20px;
  text-align: center;
  color: #0080FF;
  text-decoration: underline;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none !important;
}

.vkrPriceOpenMobContent {
  overflow: hidden;
  border-top: 1px solid #D3D7DB;
  padding-top: 20px;
  margin-top: 20px;
  transition: all 0.3s;
}

.vkrPriceBlockContent ul {
  padding-left: 15px;
}

.vkrPriceBlockContent ul li {
  color: #C7CACD;
  text-align: left;
  padding-left: 0;
  padding-bottom: 20px;
  text-decoration: line-through;
  line-height: 24px;
}

.vkrPriceBlockContent ul li.active {
  color: #E66950;
  text-decoration: none;
}

.vkrPriceBlockContent ul li span {
  color: #C7CACD;
  font-size: 14px;
  line-height: 21px;
}

.vkrPriceBlockContent ul li.active span {
  color: #656565;
}

.vkrPriceBlockContent ul li.active.dopActive span {
  color: #ABAFB3;
}

.vkrPriceBlockContent ul li.active.dopActive {
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 21px;
  font-style: italic;
  font-weight: 400;
  color: transparent;
}

.vkrPriceBlockContent ul li.active.dopActive.fw-500 {
  font-weight: 500;
}

.vkrPriceBlockBottom {
  padding: 0 30px 20px 30px;
}

.tabletTarifItem.bg-orange {
  background: #E66950;
  color: #ffffff;
}

.font-italic {
  font-style: italic !important;
}

.font-italic {
  padding-right: 11px;
}

.vkrPriceBlackBlock {
  background: #262626;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 5%);
  border-radius: 20px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
}

.vkrPriceBlackBlock .vkrPriceBlackBlockTop {
  background: #3B3B3B;
}

.vkrPriceBlackBlockTop:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.vkrPriceBlackBlockTop {
  position: relative;
  padding: 20px 34px 45px 34px;
}

.vkrPriceBlackBlock .colTarifNew {
  color: #0080FF;
}

.vkrPriceBlackBlock .tabletTarifItem {
  background: #262626;
}

.vkrPriceBlackBlock .tarifIntroText {
  color: #ffffff;
}

.vkrPriceBlackBlock .vkrPriceOpenMobContent {
  border-top: 1px solid #454545;
}

.vkrPriceBlackBlock .vkrPriceOpenMobContent ul li.active span {
  color: #ABABAB;
}

.vkrPriceBlackBlock .vkrPriceOpenMobContent ul li.active.dopActive span {
  color: #979B9F;
}

.bottomTitleTopTarif {
  margin-top: -150px;
  margin-bottom: 0;
}

.index-section-3 .title_block {
  margin-top: 80px;
  margin-bottom: 94px;
}

.index-section-3 {
  position: relative;
  margin-bottom: 120px;
}

.index-section-3 .title_block .container, .newALlOfMark {
  max-width: initial;
  margin: 0 auto;
}

.title_font_big {
  font-size: 40px;
  line-height: 60px;
}


.f-60 {
  font-size: 60px;
}

.newALlOfMarkNew {
  z-index: 2;
  margin-top: -80px;
  max-width: 1920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
  background-position-y: bottom;
}

.newALlOfMarkNew:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, #F5F5F5 0%, rgba(245, 245, 245, 0.00) 100%);
  z-index: -1;
}

.noBgBefore:before {
  background-color: inherit !important;
}

.index-section-3:before {
  content: "";
  position: absolute;
  width: 200%;
  height: calc(75% + 150px);
  top: -75px;
  left: -50%;
  z-index: -1;
  background-color: #F5F5F5;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}


.text_font_big {
  font-size: 24px;
  line-height: 30px;
}

.fw-500 {
  font-weight: 500;
}

.newFirstImgOfMark {
  max-height: 590px;
  height: 100%;
}

.lastNewImgOfMark {
  height: auto;
  width: 100%;
}

.price-link {
  color: #0080FF !important;
  border-bottom: 2px solid;
}

.f-42.lh-42 {
  font-size: 42px;
  line-height: 42px;
}

.font-bold {
  font-weight: 700;
}

.index-section-5 .ceil{
  padding: 5px 5px 35px 0px;
}
.index-section-5 .ceil-img,
.index-section-4 .ceil-img{
  float: left;
  max-width: 100px;
  width: 100px;
}
.index-section-5 .ceil-text-title,
.index-section-4 .ceil-text-title{
  font-weight: 500;
}

.index-section-5 .ceil-text-title {
  color: #262626;
  margin-bottom: 15px;
}

.index-section-5 .ceil {
  min-height: 200px;
}

.index-section-5 .ceil-text{
  padding: 8px 0 0 110px;
}
.index-section-4 .ceil-text{
  padding: 8px 0 0 120px;
}
.fw-500imp{
  font-weight: 500 !important;
}
.lh-21{
  line-height: 21px;
}
.fz12{
  line-height: 18px;
}
.index-section-4 .price {
  font-size: 16px;
}

@media all and (max-width: 768px){
  .index-section-5 .ceil-img, .index-section-4 .ceil-img {
      float: left;
      max-width: 80px;
      width: 100px;
  }
  .index-section-5 .ceil-img.hokkingImg{
      height: 80px;
      width: auto;
      max-width: initial;
      margin-left: -10px;
  }
  .index-section-4 .ceil-text,
  .index-section-5 .ceil-text{
      padding: 8px 0 0 0;
  }
  .index-section-4 .ceil,
  .index-section-5 .ceil{
      min-height: auto;
      padding: 0px 5px 0px 0px;
      margin-bottom: 60px;
  }
  .index-section-5 .title-row {
      margin-top: 50px;
      margin-bottom: 60px;
  }
  .index-section-4:before{
      transform: rotate(-4deg);
  }
}

.index-section-5 .ceil-img, .index-section-4 .ceil-img {
  float: none;
  max-width: 200px;
  width: 200px;
  max-height: 200px;
}
.index-section-4 .ceil,
.index-section-5 .ceil{
  display: flex;
}

.index-section-5 .ceil-text {
  padding: 8px 0 0 90px;
  line-height: 24px;
  font-weight: 400;
  color: #656565;
}

.text_font_medium {
  font-size: 16px;
  line-height: 24px;
}

.fw-500imp {
  font-weight: 500 !important;
}

.index-section-4 .ceil-text,
.index-section-5 .ceil-text {
  padding: 5px 85px 0 40px;
}

.index-section-4 .ceil-text .ceil-text-title,
.index-section-5 .ceil-text .ceil-text-title {
  font-weight: 500;
}
.index-section-4 .ceil-text p,
.index-section-5 .ceil-text p {
  font-size: 16px;
  line-height: 24px;
}
.index-section-4 .description{
  width: 680px;
}
.clickImgLike,
.clickImgLike img,
.clickImgLike svg{
  user-select: none;
}
.clickImgLike svg{
  position: absolute;
  top: 22px;
  left: 25px;
}
.clickImgLike svg path{
  opacity: 0;
  transition: all 0.3s;
}

.clickImgLike svg path.active{
  opacity: 1;
}
@media all and (max-width: 991px){
  .index-section-5 .ceil-img, .index-section-4 .ceil-img {
      max-width: 100px;
      width: 100px;
  }
  .index-section-4 .ceil,
  .index-section-5 .ceil{
      display: flex;
      flex-direction: column;
      min-height: auto;
  }
  .index-section-4 .ceil-text,
  .index-section-5 .ceil-text {
      padding: 0;
  }
  .index-section-4 .ceil-text p, .index-section-5 .ceil-text p {
      font-size: 14px;
      line-height: 24px;
  }
}

.index-section-4 {
  position: relative;
  padding: 20px 30px 198px;
}

.index-section-4:before {
  content: "";
  position: absolute;
  width: 500%;
  height: calc(85% + 150px);
  top: -75px;
  left: -200%;
  z-index: -1;
  background-color: #F5F5F5;
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.title_font_huge {
  font-size: 60px;
  line-height: 70px;
}

.f-140-07 {
  font-size: 140px;
  line-height: 90px;
}

.index-section-4 .warp_block_1 {
  margin-bottom: 85px;
}

.index-section-4 .warp_block_1 > div {
  padding-left: 20px;
  padding-right: 20px;
}

.index-section-4 .h-title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
}

.index-section-4 .h-title br {
  display: none;
}

.index-section-4 .description {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  width: 543px;
}

.index-section-4 .description {
  width: 680px;
}

.index-section-4 .price {
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  color: #F27255;
  padding: 1px 7px;
  margin-top: 15px;
  display: inline-block;
}

.index-section-4 .price {
  font-size: 16px;
}

.index-section-4 .tarif {
  margin-top: 15px;
}

.index-section-4 .tarif a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
  color: #0080FF !important;
}

.index-section-5 .ceil-img, .index-section-4 .ceil-img {
  float: none;
  max-width: 200px;
  width: 200px;
  max-height: 200px;
}

.index-section-4 .ceil-text {
  padding: 8px 0 8px 90px;
  line-height: 24px;
  font-weight: 400;
  color: #656565;
}

.f-18 {
  font-size: 18px;
}

.index-section-4 .ceil-text-title {
  color: #262626;
  margin-bottom: 15px;
  font-weight: bold;
}

.index-section-5 .ceil-text-title, .index-section-4 .ceil-text-title {
  font-weight: 500;
}

.index-section-4 .ceil-text, .index-section-5 .ceil-text {
  padding: 5px 85px 0 40px;
}

.index-section-4 .ceil-text p, .index-section-5 .ceil-text p {
  font-size: 16px;
  line-height: 24px;
}

.index-section-4 .blue-button {
  margin: 66px auto 0;
}

.videoBlockContainer {
  position: relative;
}

.videoBlockContainer:before {
  content: '';
  position: absolute;
  left: -10px;
  height: calc(100% + 240px);
  width: 200%;
  background: whitesmoke;
  transform: rotate(-2deg);
  top: -260px;
}

.videoTitle {
  font-size: 140px;
  font-weight: 700;
  line-height: 140px;
  color: #E8E8E9;
  margin-bottom: -40px;
  margin-left: -35px;
}

.videoBlockWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: start;
  justify-items: center;
  position: relative;
  z-index: 2;
  gap: 20px;
  padding: 0 20px;
}

.videoItemBlock {
  background: #262626;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 449px;
  padding: 60px 10px 40px 10px;
  position: relative;
  width: 100%;
}

.videoTabletWrap {
  position: absolute;
  top: 17px;
  right: 17px;

}

.videoTablet {
  font-size: 12px;
  background: #0080FF;
  color: #ffffff;
  border-radius: 100px;
  line-height: 21px;
  padding: 1px 17px;
}

.imgVideoBlock {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  overflow: hidden;
}

.videoBlockTitle {
  font-weight: 800;
  font-style: italic;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.videoBlockDescription {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #ABABAB;
  text-align: center;
}

.videoButtonPlay {
  font-size: 14px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 16px;
  padding: 9px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.reviewSliderItem .videoButtonPlay:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
  background: #0C6ED1;
}

.reviewSliderItem .videoButtonPlay:hover .videoButtonSvg path {
  fill: #fff !important;
}

.videoItemBlockOrange {
  background: #E66950;
}

.videoItemBlockWhite {
  background: #ffffff;
}

.videoBlockTitleOrange {
  color: #E66950;
}

.videoButtonPlayBlack {
  border: 1px solid #262626 !important;
  color: #262626 !important;
}

.index-section-5 {
  padding: 0 30px 5px;
}

.big-block {
  margin-bottom: 70px;
}

.index-section-5 .title-row {
  margin-bottom: 90px;
}

.m-auto {
  margin: auto !important;
}

.button360 {
  margin: 0 auto;
  min-width: 360px;
}

.container-fluid.bg-gray {
  background-color: #F5F5F5;
}

.color-grey {
  color: #656565;
}

.color-gray {
  color: #656565 !important;
}

.lineTextImg {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}

.reviewWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: start;
  justify-items: center;
}


.reviewSliderItem {
  background: #ffffff;
  margin: 0 20px;
  transition: all 0.3s;
  border-radius: 10px;
}

.reviewSliderItemBlock {
  min-height: 450px;
  justify-content: space-between;
  padding: 20px;
}

.borderReviewImg {
  border: 3px solid #E66950;
  border-radius: 50%;
  margin-right: 13px;
}

.reviewImg {
  min-width: 46px;
  width: 46px;
  min-height: 46px;
  height: 46px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(255 255 255 / 0%);
}

.reviewNameTitle {
  font-size: 15px;
  line-height: 19px;
  transition: all 0.3s;
}

.reviewNameDop {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #656565;
  transition: all 0.3s;
}

.reviewTitle {
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  font-style: italic;
  color: #E66950;
  font-weight: 700;
  transition: all 0.3s;
  margin-bottom: 22px !important;
}

.reviewDescription {
  transition: all 0.3s;
}

.reviewDescription {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.videoButtonPlay {
  font-size: 14px;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: 16px;
  padding: 9px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
}

.reviewSliderItem .videoButtonPlay {
  border: 1px solid #212529;
  color: #212529;
}

.reviewButtonBlock {
  transition: all 0.3s;
}

.linkTextButton {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.linkTextButton a {
  color: #3B3B3B !important;
  text-decoration: underline;
  font-weight: 400;
}

.reviewSliderItemGray {
  background: #ebebeb !important;
}

.reviewnotactive {
  color: #c9c9c9 !important;
}

section.vkr-index-section-clients {
  max-width: 1224px;
  margin: 0 auto;
  padding: 100px 0px 60px 0px;
  position: relative;
}

.vkrSectionClientsWrapper {
  overflow: hidden;
  position: relative;
}


.swiper {
  width: 100%;
  height: 750px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.swiper-slide img {
  height: 100%;
  object-fit: contain;
  user-select: none;
  pointer-events: none;
}

.index-section-cool-bg {
  background: #F27255;
  margin-bottom: 28px;
}

section.index-section-cool {
  padding: 30px 75px 0;
  position: relative;
}

.vkrCoolBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 140px;
  color: #ffffff;
}

.vkrCoolBlock .blue-button {
  position: relative;
  z-index: 10;
}

.vkrCoolBlockImg {
  max-width: 763px;
}

.vkrCoolBlockImg {
  position: absolute;
  right: 0;
  bottom: 0;
}

.vkrCoolBlockImg img {
  width: 100%;
}

.logo {
  margin: 0 auto;
  width: 250px;
  line-height: 18px;
}

footer .logo {
  width: auto;
}

.footer .logo-text {
  padding: 11px 0 2px 37px;
}

.logo-img-div {
  width: 70px;
}

.footer .censor {
  font-size: 18px;
  margin-top: 22px;
  font-weight: 500;
  text-align: start;
}

.logo-text .logo-big-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

footer .logo-text .logo-big-text {
  font-weight: 400;
}

.footer .copyright-years {
  font-size: 14px;
  margin-top: 31px;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.logo a {
  display: flex;
}

.footer .phones {
  font-size: 18px;
  margin: 15px 0 30px;
}

.footer .social-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  justify-content: center;
}

.footer .social-top.pl-lg-4 {
  justify-content: start;
}

.footer .social-top {
  margin-top: 15px;
  margin-bottom: 9px;
}

.social-icons a img, .mobile-menu .social-icons a img {
  width: 24px;
  height: 24px;
}

.footer .social-politic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  justify-content: space-around;
}

.footer .social-politic a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.footer .social_groups {
  vertical-align: middle;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  margin-right: 5px;
  font-size: 18px;
}

.footer .social-top.ps-lg-4 {
  justify-content: start;
  align-items: center;
}

.footer .sitemap {
  margin-right: 10.5%;
}

.footer .social-politic a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

div#scrollHeaderMenu.active {
  transform: translateY(0);
}

div#scrollHeaderMenu {
  z-index: 99;
  position: fixed;
  top: 34px;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(calc(-100% - 34px));
  transition: all 0.3s;
}

div#scrollHeaderMenu .bottomNewHeaderBlock {
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #F5F5F5;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.bottomNewHeaderBlock {
  padding: 8px 40px;
}

.main-menu {
  margin: 0 0;
  border: 1px solid;
  border-color: rgba(101, 101, 101, 0.25);
  border-radius: 10px;
}

.bottomNewHeaderBlock .main-menu {
  border: none;
}

.main-menu__list_flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  flex: 1 1 auto;
  font-weight: bold;
}

.main-menu .nav-fill .nav-item {
  height: 78px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 18px;
  text-align: left !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem 1.5rem 0;
}

.bottomNewHeaderBlock .main-menu .nav-fill .nav-item {
  height: auto;
  padding: 0 1rem 0 0;
}

.main-menu a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}


.scrollButtonWrap {
  position: fixed;
  width: 100%;
  bottom: 45px;
  height: 0;
  display: flex;
  align-items: center;
  z-index: 99;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

#scrollButtonWrap.active {
  opacity: 1;
  pointer-events: auto;
}

.scrollButtonWrap.newscrollButtonWrap {
  bottom: 83px;
}

.scrollButtonWrap>.container {
  height: 0;
  transform: translateY(-23px);
}

.scrollButtonBlock {
  background: rgba(59, 59, 59, 0.8);
  backdrop-filter: blur(3.5px);
  border-radius: 10px;
  padding: 10px 10px;
}

.scrollButtonBlockLine {
  display: flex;
  gap: 10px;
}

.btn-fab {
  position: fixed;
  bottom: 50px;
  right: 10px;
  padding: 12px 16px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  background-color: #E66950;
  box-shadow: 4px 4px 12px rgba(238, 115, 90, 0.4);
  color: #fff;
  z-index: 25;
}

.vkrTopButtonHead {
  position: static;
  padding: 13px 17px;
  margin-right: 0px;
  margin-left: -10px;
  transition: all 0.3s;
  box-shadow: 4px 4px 12px rgba(238, 115, 90, 0.4);
  border-radius: 6px;
  outline: none;
}

.scrollButtonWrap .vkrTopButtonHead {
  line-height: 1;
  padding: 16px 17px;
}

.scrollButtonBlock .vkrTopButtonHead {
  margin-left: 0;
}

.scrollButtonBlockLine .vkrTopButtonHead {
  padding-bottom: 12px !important;
}

.scrollButtonBlockText {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  line-height: 150%;
  margin-top: 5px;
}

.buttonMobMenu {
  height: 19px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.buttonMobMenu span {
  width: 100%;
  height: 3px;
  background: #E66950;
  transition: .1s;
}

.buttonMobMenu span:last-child {
  width: 80%;
}

br.onlyMob {
  display: none;
}

.bottom {
  background-color: #656565;
  padding: 10px;
  margin-top: 20px;
}

.bottom p {
  color: #fff;
  opacity: 0.5;
}

.index-section-5 .button .blue-button {
  max-width: 100%;
}

@media (max-width: 1200px) {

  .button360 {
    min-width: auto;
  }

  .newHeaderWrap {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
  }

  .header-top {
    border: none;
  }

  .logo {
    width: auto;
  }

  .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }

  .logo-img-div {
    margin-right: 15px;
  }

  .mobile-tel a, .mobile-whatsapp a {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(230, 105, 80, 0.2);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    background: none;
    border: none;
  }

  .mobile-tel {
    gap: 8px;
  }
  
  .main-page {
    overflow: hidden;
  }

  .index-section-1.row {
    position: relative;
  }

  .index-section-1 {
    height: auto;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .index-section-1.row:before {
    content: '';
    position: absolute;
    left: -50%;
    top: 0;
    width: 200%;
    height: 200%;
    background: #E66950;
  }

  .mobTopImgBlockNone {
    display: none;
  }
  
  .index-section-1.row>div.col-lg-6 {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    width: auto;
  }

  .index-section-1 .text-block {
    margin: auto;
  }

  .none1200 {
    display: none;
  }

  .mobTopImgBlock {
    margin: 0 auto;
    height: 460px;
    display: flex;
    align-items: center;
    top: -30px;
    z-index: 3;
    justify-content: center;
    position: relative;
  }

  img.mobBgPunk {
    display: none;
  }

  .index-section-1 .title_font_huge {
    text-shadow: unset;
    color: #ffffff;
  }

  .on1200 {
    display: flex;
  }

  section.topTarifSect {
    margin-top: 0;
  }

  .topTarifSect:before {
    height: calc(190% + 150px) !important;
  }

  .f-60 {
    font-size: 50px !important;
  }

  .index-section-3:before {
    height: calc(58% + 265px);
  }

  .newFirstImgOfMark {
    max-height: 500px;
    height: 100%;
  }

  .lastNewImgOfMark {
    width: auto;
    height: 100%;
  }

  .newALlOfMarkNew {
    margin-top: -90px !important;
    margin-bottom: 30px !important;
  }

  .index-section-4 .tarif, .index-section-4 .price {
    white-space: nowrap;
  }

  .index-section-cool-bg {
    margin-top: 100px;
  }

  .vkrCoolBlock {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: left;
  }

  .vkrCoolBlockImg {
    margin-top: -10px;
    z-index: 6;
  }

  .vkrCoolBlockImg img {
    width: 52%;
    float: right;
  }

  .no-gutters {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
  }

  .logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }

  .logo-img-div {
    margin-right: 15px;
  }

  .footer .logo-text {
    padding-left: 0 !important;
  }

  .pad1200 {
    padding-left: 20px !important;
  }

  .pad1200 .phones.font-bold {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .f-140-07 {
    font-size: 140px;
    line-height: 90px;
  } 

}

@media screen and (max-width: 1024px) {
  .index-section-1 .title_font_huge {
      font-size: 30px;
      line-height: 36px;
  }

  .index-section-5 {
    padding: 0 15px;
  }

  .index-section-1 .bg-img-mobile {
    position: absolute;
    left: 0;
    top: 30%;
    width: 160%;
  }

  .mobTopImgBlock {
    margin: 0 auto;
    height: 330px;
    display: flex;
    align-items: center;
    top: -20px;
    right: 50px;
    z-index: 3;
    justify-content: center;
  }

  .index-section-1 .main-img {
    max-width: 400px;
  }

  .index-section-3 .title_block {
    margin-top: 0;
  }

  .title_font_huge {
    font-size: 30px;
    line-height: 36px;
  }

  .index-section-4 {
    padding: 0 15px;
    margin-right: -10px;
    margin-left: -10px;
  }

  .index-section-4 .ceil {
    padding: 0;
  }

  .title_font_huge {
    font-size: 30px;
    line-height: 36px;
  }

  .footer .col-12 {
    padding-bottom: 40px;
    border-bottom: 1px solid #E6ECEC;
  }

  .footer .col-12:nth-of-type(2) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer .col-12:nth-of-type(3) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer .logo a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer .logo a .logo-img-div {
    margin-right: 28px;
  }

  .footer .logo-text {
    padding: 0;
  }

  .footer .phones {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
  }
  
  .footer .phones span {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer .col-12:nth-of-type(2) p {
    text-align: center;
    padding-top: 36px;
  }

  .footer .col-12:nth-of-type(2) p {
    text-align: center;
    padding-top: 36px;
  }

  .footer .social-icons {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 19px;
  }

  .footer .social-icons a {
    width: 25px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* -webkit-transition: 0.3s opacity; */
    -o-transition: 0.3s opacity;
    -moz-transition: 0.3s opacity;
    transition: 0.3s opacity;
    margin-right: 14px;
    height: 25px;
    display: block;
}

  .footer .social-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding-top: 36px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e6ecec;
  }

  .footer .social-politic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer .social-politic .sitemap {
    margin-right: 0;
  }
  
  .f-140-07 {
    font-size: 140px;
    line-height: 90px;
  }

}

@media (max-width: 991px) {
  .index-section-1 .text-block {
    max-width: 330px;
  }

  .index-section-1 .f-32 {
    font-size: 42px;
    line-height: 37px;
  }

  .vkrPriceBlockHead, .vkrPriceBlackBlockTop {
    padding: 20px 20px;
  }

  .vkrPriceBlockHead>.f-32, .vkrPriceBlackBlockTop>.f-32 {
    font-size: 28px;
    line-height: 25px;
  }

  .vkrPriceBlockHeadDescr {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 10px !important;
  }

  .tabletTarifWrap {
    margin-bottom: 0 !important;
    min-height: auto;
  }
  
  .tarifIntroText {
    margin-bottom: 20px;
  }

  .mobileButtonOpenTarif {
    margin-bottom: 25px;
    font-weight: 300;
  }

  .vkrPriceOpenMobContent {
    padding-top: 20px;
    margin-top: 10px;
    border-top: none !important;
    margin-bottom: 20px;
  }

  .vkrPriceOpenMobContent {
    max-height: 100% !important;
    margin-bottom: 0;
  }

  .index-section-4 .ceil, .index-section-5 .ceil {
    display: flex;
    flex-direction: column;
    min-height: auto;
  }

  .index-section-4 .ceil-text, .index-section-5 .ceil-text {
    padding: 0;
  }

  .index-section-4 .ceil-text p, .index-section-5 .ceil-text p {
    font-size: 14px;
    line-height: 24px;
  }

  .index-section-5 .ceil-img, .index-section-4 .ceil-img {
    max-width: 100px;
    width: 100px;
  }

  .videoTitle {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: -20px;
  }

  .videoBlockTitle {
    font-size: 25px;
    line-height: 27px;
  }

  .pad1200 .phones.font-bold {
    display: none !important;
  }

  .bottom {
    background: #000000;
  }

  .mobTopImgBlock {
    margin: 0 auto;
    height: 295px;
    overflow: hidden;
    display: flex;
    align-items: center;
    top: -27px;
    right: 35px;
    z-index: 3;
    justify-content: center;
    margin-bottom: -30px;
    max-width: 350px;
  }
  
  .newHeaderLink .logo-text .logo-big-text {
    line-height: 21px;
  }

  .newHeaderLink .logo-text {
    padding: 0;
  }
}

@media (max-width: 990px) {

  .pad1200 .phones.font-bold {
    margin-bottom: 0px;
  }

  .address {
    text-align: start !important;
    padding-right: 10%;
  } 

  .topTarifSect:before {
    height: calc(190% + 150px) !important; 
  }

  .vkrPriceBlockContent, .vkrPriceBlackBlockContent {
    position: relative;
    padding: 20px 20px 0 20px;
    padding-bottom: 30px !important;
  }

  .bottomTitleTopTarif {
    margin-top: 0px;
    margin-bottom: 0;
  }

  .newtopTarifSect .row.title_block {
    margin-bottom: 0;
  }

  .f-140-07 {
    line-height: 50px !important;
  }

  .f-60mob {
    font-size: 60px !important;
  }

  .f-60 {
    font-size: 35px !important;
    line-height: 50px;
  }

  .f-80mob {
    font-size: 80px !important;
  }

  .newALlOfMarkNew {
    margin-top: 0 !important;
  }

  .aLlOfMarkNewFootBlock {
    margin-bottom: 100px;
  }

  .index-section-cool-bg {
    margin-bottom: 0;
  }

  .mobFooterBg {
    background: #262626;
    color: #ffffff;
  }

  .footer .logo a .logo-img-div {
    margin-right: 10px;
  }

  .footer .copyright-years {
    margin-top: 10px;
  }

  .mobFooterTel .phones {
    font-size: 16px;
    margin-top: 0;
  }

  .mobFooterTel {
    width: auto;
  }

  .mobFooterBg a {
    color: #ffffff !important;
  }

  .noBorder {
    border: none !important;
  }

  .noPadMob {
    padding-bottom: 15px !important;
  }

  .bottom {
    margin-top: 0 !important;
  }

  .mobSocFooter a {
    width: 35px !important;
  }

  .mobSocFooter {
    min-width: 130px;
  }

  .mobFooterBg a {
    color: #ffffff;
  }

  .politicaMob {
    display: block;
  }

  .mobAlignStart {
    align-items: start !important;
    padding-bottom: 0 !important;
  }

  .mobTopImgBlock {
    top: -27px;
    right: 34px;
    max-width: 390px;
    width: 100%;
    height: 330px;
    margin-bottom: -80px;
  }

  .index-section-3.noBgBefore {
    margin-bottom: 0;
  }

  .pad1200 {
    padding-left: 0 !important;
  }

}

@media (max-width: 980px) {
  .vkrCoolBlock {
      padding-bottom: 328px;
  }

  .index-section-4:before {
    height: calc(93% + 100px);
    top: -40px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .footer .col-12:nth-of-type(2) p {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  .mobTopImgBlock {
      right: 38px;
      margin-bottom: -30px;
      margin-top: -70px;
      align-items: unset;
      height: 315px;
  }

  .topTarifSect:before {
    height: calc(220% + 150px) !important;
  }

  .title_font_huge {
    position: relative;
    z-index: 2;
  }

  .newALlOfMarkNew {
    background-position-y: -220px;
  }

  .f-18mob.text_font_big {
    font-size: 18px;
    line-height: 23px;
  }

  .newFirstImgOfMark {
    max-height: 300px;
    height: 100%;
  }

  .f-18mob.f-42.lh-42 {
    font-size: 18px;
    line-height: 18px;
  }
  
  .index-section-4:before {
    transform: rotate(-4deg);
  }

  .index-section-5 .title-row {
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .vkrTitleLogosMob {
    font-size: 60px;
    line-height: 70px;
  }

  .reviewSliderItem {
    margin: 0 5px;
  }

  .reviewWrapper {
    gap: 10px;
  }

  .reviewSliderItem {
    width: 100%;
  }

  section.index-section-cool {
    padding: 0;
  }

  .vkrCoolBlock {
    padding-bottom: 186px;
  }

  .index-section-cool .title_font_huge {
    font-size: 40px;
    line-height: 52px;
  }

  .index-section-cool .content-text {
    font-size: 16px;
  }

  .header-top {
    padding: 8px;
  }

  .buttonMobMenu {
    margin-right: 16px;
  }

}

@media (max-width: 768px) and (min-width: 600px) {
  .reviewNameTitle {
      font-size: 13px;
      line-height: 15px;
  }

  .reviewNameDop {
    font-size: 8px;
    line-height: 9px;
  }

  .reviewTitle {
    font-size: 20px;
    line-height: 25px;
  }

  .reviewDescription {
    font-size: 12px;
    line-height: 18px;
  }

  .reviewSliderItemBlock {
    width: 100%;
  }

}

@media (max-width: 576px) {
  .index-section-1 .text-block {
      margin-top: 0;
  }

  .index-section-1 {
    padding-top: 16px;
  }

  .mobTopImgBlock {
    max-width: 260px;
    width: 100%;
    right: 40px;
    top: 0px;
    margin-bottom: -50px;
    height: 285px;
  }
}

@media (max-width: 480px) {
  .mobTopImgBlock {
      top: -2px;
      right: 50px;
      max-width: 400px;
      width: 100%;
      margin-bottom: -15px;
      margin-top: -95px;
      height: 340px;
  }

  .index-section-cool-bg {
    margin-top: -22px;
  }

  .vkrCoolBlock {
    text-align: center;
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 265px;
  }

  .index-section-cool-bg .title_font_huge {
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
  }

  .index-section-cool .content-text {
    line-height: 24px;
  }

  .blue-button, .blue-button-link, .vkrTopButtonHead.vkrIndexDopBanner {
    max-width: 100%;
  }

  .vkrCoolBlockImg img {
    width: 100%;
  }

  .mobFooterBg {
    padding-bottom: 13px;
  }

  .logo-img-div.float-left img {
    width: 40px;
  }

  .logo-img-div.float-left p {
    font-size: 10px;
    margin-top: 5px;
  }

  .footer .logo-text p:nth-child(1) {
    font-size: 10px;
  }
  
  .footer .logo-text p:nth-child(2) {
    font-size: 13px;
  }

  .footer .logo-text p:nth-child(3) {
    font-size: 10px;
    margin-top: 3px;
  }

  .footer .col-12:nth-of-type(2) p, .footer .politicaMob {
    font-size: 10px;
  }

  .address span {
    width: 100%;
    display: block;
  }

  .mobSocFooter a {
    width: 24px !important;
  }

  .logo-img-div.float-left img {
    width: 40px;
  }

  .logo-img-div {
    width: 45px;
    margin-right: 6px;
  }

  .logo-text .logo-big-text {
    font-size: 18px;
  }

  .swiper {
    height: 490px;
  }
}

@media (max-width: 330px) {
  footer .logo {
    padding: 0;
  }
}