* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Muller", sans-serif;
  overflow-x: hidden;
  font-size: 14px;
}

header {
  position: relative;
  z-index: 99;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto !important;
  margin-left: auto !important;
}


@media (min-width: 544px) {
  .container {
      max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 940px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1440px;
  }
}

.header-top {
  border-bottom: 1px solid #F5F5F5;
  border-radius: 10px;
  padding: 8px 40px;
}

.warp_soc_heder a img {
  width: 20px;
  height: 20px;
}

.warp_soc_heder {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mr-50 {
  margin-right: 50px;
}

a {
  color: #000 !important;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: all 0.3s;
}

p {
  margin-bottom: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

.logo {
  margin: 0 auto;
  width: 250px;
  line-height: 18px;
}

.newHeaderLink img {
  max-width: 70px;
}

.header__logo.logo {
  transition: all .1s linear;
}

.newHeaderLink .logo-text {
  padding: 0px 0 0px 8px;
}

.font-light {
  font-weight: 300;
}

.logo-text .logo-big-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.whatsapp svg {
  margin-right: 10px;
}

svg:not(:root) {
  overflow: hidden;
}

.with-text-decoration {
  text-decoration: underline;
}

.header__phones {
  font-size: 14px;
  font-weight: 500;
  padding-left: 0;
}

.mr-40 {
  margin-right: 40px;
}

.header__menu-col2 {
  padding-right: 32px;
}

.bottomNewHeaderBlock {
  padding: 8px 40px;
}

.bottomNewHeaderBlock .main-menu {
  border: none;
}

.main-menu {
  margin: 0 0;
  border: 1px solid;
  border-color: rgba(101, 101, 101, 0.25);
  border-radius: 10px;
}

.main-menu__list_flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  flex: 1 1 auto;
  font-weight: bold;
}

.bottomNewHeaderBlock .main-menu .nav-fill .nav-item {
  height: auto;
  padding: 0 1rem 0 0;
}

.main-menu .nav-fill .nav-item {
  height: 78px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 18px;
  text-align: left !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem 1.5rem 0;
}

.bottomNewHeaderBlock .main-menu .nav-link {
  border: none;
  padding: 0;
}

.main-menu .nav-link {
  display: block;
  padding: 0 0 0 28px;
  border-left: 1px solid #E1EAEA;
}

.main-menu a {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.nav-link--left {
  border: none !important;
}

.main-menu .nav-link .ssm, .main-menu .nav-link .portfolio, .main-menu .nav-link .seo {
  position: relative;
}

.color-orange {
  color: #F27255 !important;
}

.main-menu .nav-link .seo span {
  right: -27px;
  top: -2px;
}

.main-menu .nav-link .portfolio svg {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #E66950;
  position: absolute;
  right: -20px;
  top: -8px;
}

.main-menu .nav-link .ssm span, .main-menu .nav-link .seo span {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #E66950;
  position: absolute;
  right: -27px;
  top: -2px;
}

.index-section-1 {
  margin-top: 16px;
  height: 650px;
}

.index-section-1 .img-div {
  margin-top: -100px;
}

.index-section-1 .img-div {
  padding-top: 12px;
  padding-left: 10px;
}

.div-img-with-bg img:first-child {
  position: absolute;
  z-index: 1;
}
.index-section-1 .bg-img {
  left: 0;
  top: -166px;
  width: 140%;
}

.div-img-with-bg img.handImg.scrollTopImgElement {
  transform: translate(0px, -65px);
  transition: all 0.2s;
  object-fit: cover;
  width: 950px;
  height: 600px;
  object-position: 0px 0px;
}

.index-section-1 .main-img {
  max-width: 950px;
}

.div-img-with-bg img:last-child {
  left: 0px;
  transform: translateY(-45px);
}
.div-img-with-bg img:last-child {
  position: absolute;
  z-index: 2;
}

.topNew88 {
  top: -88px;
}

.z-index-1 {
  z-index: 1;
}
.mobTopImgBlock {
  display: none;
  position: absolute;
  top: -70px;
  right: 97px;
  max-width: 550px;
  width: 100%;
}

.on1200 {
  display: none;
}

.blue-button, .blue-button-link {
  background: #0080FF;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  font-weight: 400;
  -webkit-box-shadow: 0px 8px 14px rgba(0, 128, 255, 0.35);
  -moz-box-shadow: 0px 8px 14px rgba(0, 128, 255, 0.35);
  box-shadow: 0px 8px 14px rgba(0, 128, 255, 0.35);
  max-width: 280px;
  width: 100%;
  height: 60px;
  text-align: center;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.index-section-1 .text-block {
  position: relative;
  max-width: 557px;
  margin: 110px 20px;
}

.index-section-1 .text-block {
  margin: 50px auto;
}

.z-index-3 {
  z-index: 3;
}

.index-section-1 .title_font_huge {
  font-size: 60px;
  line-height: 60px;
  text-shadow: 0 0 8px white;
  font-weight: 700;
}

.f-32 {
  font-size: 32px;
}

.f-32 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

.color-white {
  color: #ffffff;
}

.index-section-1 .only-border {
  width: 50px;
  height: 67px;
}

.text-shadow {
  text-shadow: 2px 1px 8px white;
}

.f-24 {
  font-size: 24px;
}